<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ShoppingKart" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="RakeshProject.TestComponents.Listeners" />
	</listeners>
	
	<test  name="SubmitOrder Test">
		<classes>
			<class name="RakeshProject.Tests.SubmitOrderTest" />
		</classes>
	</test>

	<test  name="Error Validation Test">
		<classes>
			<class name="RakeshProject.Tests.ErrorValidationTest" />
		</classes>
	</test>

</suite> 